.query-container {
  margin: 20px;
}

.query-input {
  width: 100%;
}

.query-error {
  font-family: 'Roboto', sans-serif;
  color: red;
}

.query-submit {
  margin-top: 10px;
}

.query-credits {
  margin-top: 30px;
}
